/* styling for contact-me section */

.contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 25px;
    align-items: center;
}

.contact-header {
    font-size: 30px;
    /* align-self: center; */
}

.form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 70vw;
    background-color: rgb(55, 173, 212);
}