


.contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 35px;
    align-items: center;
    padding-top: 160px;
}

.contact-header {
    font-size: 45px;
    padding-bottom: 20px;
    color: whitesmoke;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 70vw;
    background: linear-gradient(157deg, rgb(87, 87, 88) 0%, rgba(101,155,166,1) 100%);
    padding: 20px;
    color: whitesmoke;
    border-radius: 25px;
}

#connect-form {
    display: flex;
    flex-direction: column;

}

#user-email {
    max-width: 160px;
    padding: 3px;
    margin-bottom: 20px;
}

#user-message {
    padding: 3px;
    resize: none;
    max-width: 60vw;
}

label {
    font-size: 25px;
    margin-bottom: 5px;
}

.submit-form {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 10px;
    max-width: 120px;
    padding: 8px 0px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    border: none;
    background: none;
    transition: transform 700ms ease-out;
    will-change: transform;
}

button > svg {
    fill: whitesmoke;
    height: 28px;
    display: none;
    will-change: transform;
}

.submit-form:hover > svg {
    animation: sendArrow 700ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    display: block;
    position: absolute;
}

.submit-form:hover {
    transform: scale(1.1);
}

/* arrow animation */

@keyframes sendArrow {
    0% {
        opacity: 0;
        transform: translateX(0%);
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
        transform: translateX(200%);
    }
}

@media (max-width: 490px) {
    .form-container {
        padding: 12px;
    }

    .contact-header {
        font-size: 30px;
    }

    #user-message {
        min-height: 300px;
    }

    label {
        font-size: 19px;
    }
}



