html, body {
    margin: 0px;
}

body {
    background-color: #31363F;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.name {
    font-family: "Josefin Sans", sans-serif;
    font-size: 35px;
    color: whitesmoke;
    padding-left: 15px;

}

nav a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: 
        linear-gradient(to right, rgb(45, 45, 249), rgb(45, 45, 249) 50%, whitesmoke 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;

    text-decoration: none;
    color: whitesmoke;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    transition: background-position 180ms ease-in;
}

nav a:hover {
    background-position: 0 100%;
}

.section-links {
    display: flex;
    width: 295px;
    justify-content: space-evenly;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #31363F;
    margin-left: 50px;
}

aside {
    position: fixed;
    height: 100vh;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: #31363F;
    max-width: 65px;
    z-index: 1;
}

aside > a {
    text-decoration: none;
    color: white;
}

.first-social {
    margin-top: 180px;
}

i {
    font-size: 38px;
    transition: all 80ms ease-in-out;
    padding-left: 10px;
}

i:hover {
    text-shadow: 0px 0px 25px blue;
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 250px;
    background-color: slategray;
    color: whitesmoke;
    font-family: "Josefin Sans", sans-serif;
    z-index: 2;
}

.footer-header {
    margin-bottom: 5px;
    margin-top: 40px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 400px;
}

.email-info {
    margin-bottom: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 200px;
}

.phone-info {
    margin-top: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 200px;
}

h4 > img {
    height: 20px;
}

.copyright {
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 10px;
    gap: 10px;
    align-items: center;
    width: 280px;
}


@media (max-width: 490px) {
    .section-links > a {
        font-size: 13px;
    }

    .section-links {
        min-width: 200px;
    }

    main {
        margin-left: 35px;
    }

    aside {
        width: 35px;
    }

    i {
        font-size: 22px;
        padding-left: 5px;
    }

}

@media (min-width: 1000px) {
    .footer-header {
        font-size: 34px;
    }

    .email-info, .phone-info {
        font-size: 24px;
        width: 400px;
    }
}
