/* styling for About Me section */

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightblue;
    position: relative;
    max-width: 1000px;
    /* justify-self: center; */
    margin-bottom: 30px;
}


.intro-container {
    max-width: 600px;
    background-color: aliceblue;
    padding: 20px;
}
 
.about-me-title {
    /* background-color: beige; */
}

.intro-paragraph {
    line-height: 1.4;
    font-size: 20px;
}

.profile-pic {
    /* position: absolute; */

}

@media (550px <= width < 1000px) {
    .intro-container {
        width: 500px;
    }

    .profile-pic {
        content: url("./imgs/headshot - tablet v2.jpg");
        
    }
}

@media (0px < width < 550px) {
    .intro-container {
        width: 350px;
    }

    .profile-pic {
        content: url("./imgs/headshot - mobile v2.jpg");
    }
}

@media (min-width: 1000px) {
    .intro-container {
        
    }

    .profile-pic {
        content: url("./imgs/headshot - laptop v2.jpg");
    }
}

